

<%= form_with url: itinaries_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :origin, params[:origin], class: "form-control", placeholder: "Put your Origin" %>
  <%= text_field_tag :destination, params[:destination], class: "form-control", placeholder: "Put your Destination" %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<div style="width: 100%; height: 950px;"

 <% @itineraries.each do |itinerary|  %>
   <%= itinerary.origin  %>
   <%= itinerary.destination %>
 <% end %>


  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
