<% @itineraries.each do |itinerary|  %>
<%= itinerary.origin  %>
<% end %>

 <%# <%= render "form", itinerary: @itinerary %>

<div class="dropdown">

  <%# <% @itineraries.each do |itinerary| %>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected> Select your location</option>
      <option value="1">Port Louis Victoria Central</option>
      <option value="2">Beau Bassin Station</option>
      <option value="3">Quatre Bornes Central</option>
    </select>

    <br>

    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected> Select your destination</option>
      <option value="1">Port Louis Victoria Central</option>
      <option value="2">Beau Bassin Station</option>
      <option value="3">Quatre Bornes Central</option>
    </select>
    <%# <% end %>

    <br>

    <button type="button" class="btn btn-primary">Create itinerary</button>

     <%# </div>
  <br>
  <%= link_to "Create itinerary", new_itinerary_path(@itinerary), class: "btn btn-flat" %>
      <%# </div> %>
  <%# <div> %>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
