<h1> Tickets </h1>

<%@tickets.each do |ticket| %>


  <div class="col">

    <div class="card radius-10 border-start border-0 border-3 border-success">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
          <p class="mb-0 text-secondary"><h1>📍<%= ticket.itinerary.origin %></h1></p>
                <%# <h2> to <h2> %>
            <p class="mb-0 text-secondary"> <h1>🚈 <%= ticket.itinerary.destination%></h1></p>
            <h4 class="my-1 text-warning"><h3> <strong>Price: </strong><%= ticket.price %></h3></h4>
            <p class="mb-0 font-13"><h3> <strong>Duration:</strong> <%= ticket.itinerary.duration %> min</h3></p>
            <p class="mb-0 font-13"><h3> <strong>Date/time:</strong> <%= ticket.start_time  %></h3></p>
              <%= link_to "Buy a ticket", ticket_path(ticket.id), class:"btn btn-primary" %>
          </div>
        </div>

      </div>
    </div>
  </div>
      <br>


  <!-- Button trigger modal -->

  <%# <% <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    QR Code
  </button> %>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">QR Code</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
        <%= image_tag "https://png2png.com/wp-content/uploads/2021/08/barcode-png1.png", style: "width: 350px; height: 350px;" %>
        </div>
        <div class="modal-footer">
        <a href=https://png2png.com/wp-content/uploads/2021/08/barcode-png1.png download>
          <button type="button" class="btn btn-primary">Download</button></a>
        </div>
      </div>
    </div>
  </div>


<% end %>
